@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  
}
@media screen and (max-width:720px){
  .mobile-clip{
    clip-path: polygon( 37.60% 0.00%, 63.8% 0.00%, 100% 0.00%, 101% 101%, 50% 86.2%, 0.00% 101%, 0.00% 0.00% );
    
    }
}
