@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

.nav-font {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
}
.fill-primarygg-btn {
  fill: aqua;
}
body {
}
@keyframes moveLeft {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

@layer components {
  .hnav-calc {
    height: calc(100vh - 80px);
  }
  .nav-mob {
    animation: moveLeft 0.2s alternate ease-in-out;
  }
}
@layer utilities {
  .hnav-calc {
    height: calc(100vh - 80px);
  }
  .nav-mob {
    animation: moveLeft 0.2s alternate ease-in-out;
  }
}

.display-none {
  @apply hidden;
}
.react-tel-input .form-control {
  width: 100% !important;
  height: 2.5rem !important;
}
.title-full-shadow {
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.25) 30%,
    rgba(0, 0, 0, 0.8) 100%
  );
}
@media screen and (max-width: 720px) {
  .mobile-clip {
    clip-path: polygon(
      37.6% 0%,
      63.8% 0%,
      100% 0%,
      101% 101%,
      50% 86.2%,
      0% 101%,
      0% 0%
    );
  }
}

.leftNavShow {
}
.leftNavhid {
  width: 240px;
}
.side-content::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.side-content::-webkit-scrollbar-track {
  background: gainsboro;
  border-radius: 2px;
}

/* Handle */
.side-content::-webkit-scrollbar-thumb {
  background: rgb(48, 48, 48);

  opacity: 0.2;
  border-radius: 3px;
}

.side-content::-webkit-scrollbar-thumb:hover {
  background: rgb(58, 57, 57);
}
.tiptap blockquote {
  border-left: 3px solid #ddd;
  margin: 1.5rem 0;
  padding-left: 1rem;
}
.tiptap h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  margin-top: 2.5rem;
}
.tiptap h1,
h2 {
  margin-top: 3.5rem;
  margin-bottom: 1.5rem;
}
.tiptap h1 {
  font-size: 1.4rem;
}
.tiptap h2 {
  font-size: 1.2rem;
}
.tiptap h3 {
  font-size: 1.1rem;
}
.tiptap h4 {
  font-size: 1rem;
}
.tiptap a {
  color: rgb(16, 153, 231);
  cursor: pointer;
}

.tiptap a:hover {
  color: rgb(48, 172, 243);
}

.tiptap hr {
  border: none;
  border-top: 1px solid #ddd;
  cursor: pointer;
  margin: 2rem 0;
}

.tiptap hr.ProseMirror-selectednode {
  border-top: 1px solid #ddd;
}

.tiptap code {
  background-color: rgba(#616161, 0.1);
  color: #616161;
}
.tiptap pre {
  background: #0d0d0d;
  color: #fff;
  font-family: "JetBrainsMono", monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}
.tiptap pre code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}

.ProseMirror p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
.tiptap img {
  max-width: 100%;
  height: auto;
}

.tiptap ul,
ol {
  padding: 0 1rem;
  margin: 1.25rem 1rem 1.25rem 0.4rem;
}
.tiptap ul {
  list-style: square;
}
.tiptap ol {
  list-style: auto;
}
.tiptap ul li,
ol li {
  display: list-item;
}
.tiptap ul,
ol li p {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}
/* Basic editor styles */
.ProseMirror > * + * {
  margin-top: 0.75em;
}

.tiptap ul[data-type="taskList"] {
  list-style: none;
  margin-left: 0;
  padding: 0;
}

.tiptap ul[data-type="taskList"] li {
  align-items: flex-start;
  display: flex;
}

.tiptap ul[data-type="taskList"] li > label {
  flex: 0 0 auto;
  margin-right: 0.5rem;
  user-select: none;
}

.tiptap ul[data-type="taskList"] li > div {
  flex: 1 1 auto;
}

.tiptap ul[data-type="taskList"] input[type="checkbox"] {
  cursor: pointer;
}

.tiptap ul[data-type="taskList"] ul[data-type="taskList"] {
  margin: 0;
}

.tiptap img.align-left {
  float: left;
  margin-right: 1em;
}

.tiptap img.align-right {
  float: right;
  margin-left: 1em;
}

.tiptap img.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* Optional: If you want to center align the caption */
  text-align: center;
}
.tiptap img.resizable {
  max-width: 100%; /* Ensure images do not exceed container width */
  height: auto; /* Maintain aspect ratio */
}
.tiptap img.selected {
  border: 2px solid rgb(0, 163, 228);
}
